<div class="container" style='border: 2px solid #fb0;box-shadow: 0 0 30px 0 rgb(0, 0, 0);'>


  <div class="form-container off-canvas">

    <form role="form" class="form-signin" id
    ="loginForm">
      <h2 style="text-align: center">Fundoo Admin</h2>
      <h4>Please sign in...</h4>

      <div class="form-group">
        <label for="EmailAddress"><span>*</span> Email Address</label>
        <input type="email" class="form-control" name="EmailAddress" id="email"  required>
        <p id="mail_err" class="alert alert-danger">provide valid email</p>
      </div>

      <div class="form-group">
        <label for="EmailAddress"><span>*</span> Password</label>
        <input type="password" class="form-control" name="password" id="pwd"  required>
        <p id="pwd_err" class="alert alert-danger">provide valid password(Min Length:4) </p>
      </div>

      <button class="btn btn-lg btn-primary btn-block" id="btn" type="submit">Sign in</button><br><br>

    </form>
  </div> <!-- /container -->

</div>
